/*containers*/

#wrapper1 {
	display: flex;
	margin: 20px 20px
}

/*nav bar*/

nav {
	background-color: #FFB4B0;
	border: 2px solid black;
	height: 60px;
	margin: 0 0 10px 0;
}

li {
    float: left;
    list-style-type: none;
    margin: 5px 5px 0 5px;
    font-family: "Arial";
}

/*side bar*/

#sidebar {
	border: 2px solid black;
	background-color: #4DD7FA;
	float: left;
	width: 24%;
	height: 300px;
	
}

.selectors {
	padding: 10px 10px 10px 10px;
}

.selectors > label {
	display: block;
}


#filter {
	margin: 0 35% 0 35%;
}

fieldset {
	border-style: none;
}

.checkbox1 {
	width: 50%;
	display: inline-block;
	float: left;

}

.checkbox2 {
	width: 50%;
	display: inline-block;
	float: right;
}

#filter {
	width: 60px;
	height: 20px;
}

/*wrapper/output for content, aka "the meat"*/

#theMeat {
	border: 2px solid black;
	background-color: #FEFAC0;
	margin-right: 0;
	float: right;
	width: 74%;
	height: 100%;
}

/*styling for individual song blocks*/

.songBlock {
	margin: 10px 0 15px 10px;
	font-family: "Arial";
}

.songBlock > h4 {
	margin: 0 0 0 1.5%;
}

.songBlock > p {
	margin: 5px 1.5% 0 1.5%;
	display: inline-block;
	font-size: small;
}

/*hide and show styling for list and add toggle*/

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* Add view styling */

.left-col-add {
	width: 49%;
	margin: 2px 1% 2px 0;
	text-align: right;
	float: left;
}

.right-col-add {
	width: 49%;
	margin-left: 1%;
	text-align: left;
	float: right;
}

.btnWrap {
	text-align: center;
}











